<!doctype html>
<html>
  <head>
    <style>
      body, html {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <h4><code>the trashtalk api</code></h4>
    <p>
      Does your robot talk?  Does it need a bit more personality?
      Try the <code>trashtalk api</code>: talking smack as a service.
    </p>

    <p>
      Access any of these endpoints for a random message you can integrate into your code:
    </p>

    <ul>
      <li><code><a href="/victory">/victory</a></code></li>
      <li><code><a href="/defeat">/defeat</a></code></li>
      <li><code><a href="/greeting">/greeting</a></code></li>
      <li><code><a href="/init">/init</a></code></li>
      <li><code><a href="/ready">/ready</a></code></li>
      <li><code><a href="/idle">/idle</a></code></li>
      <li><code><a href="/laughter">/laughter</a></code></li>
      <li><code><a href="/sobbing">/sobbing</a></code></li>
    </ul>

    <p>Have a mac?  Try it out with one line:</p>
    <code>
      curl -s http://trashtalk.oakmachine.com/victory | say
    </code>
  </body>
</html>

